Repository Meandmy10/DGHA-Backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-api.yml, azure-pipelines-identity-server.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-2.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-identity-server.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: IdentityServer/IdentityServer.csproj
      feedsToUse: select
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: IdentityServer/IdentityServer.csproj
  ...

Revert "Bug Fixes"
  API/Controllers/ComplaintsController.cs
  API/Controllers/ReviewsController.cs
  API/Models/NewComplaint.cs
Due: azure-pipelines-api.yml

Revert "Revert "Bug Fixes""
  API/Controllers/ComplaintsController.cs
  API/Controllers/ReviewsController.cs
  API/Models/NewComplaint.cs
Due: azure-pipelines-api.yml

Revert "Return 200 rather then 201"
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

Fixed model on PutReview
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

Add Admin Portal Configs
  API/Startup.cs
  IdentityServer/Config.cs
  IdentityServer/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines-identity-server.yml, azure-pipelines.yml

Fix admin url
  IdentityServer/Startup.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Config for Admin App
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update cors to allow localhost connection
  IdentityServer/Startup.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Change Rating Averages from byte to float
  API/Controllers/ReviewsController.cs
  API/Models/PlaceReviews.cs
Due: azure-pipelines-api.yml

Update get place reviews to work with sets
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

Removed LocalAdminUrl
  IdentityServer/Startup.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Documentation
  API/Controllers/ReviewsController.cs
  IdentityServer/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Controller Structure
  API/Controllers/AccountsController.cs
  API/Controllers/AuthorizedController.cs
  API/Controllers/BaseController.cs
  API/Controllers/ComplaintsController.cs
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

Improved Error Responces
  API/Controllers/AccountsController.cs
  API/Controllers/ComplaintsController.cs
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

Commented out unimpimented method
  API/Controllers/ComplaintsController.cs
Due: azure-pipelines-api.yml

idk what this is lol
  API/.editorconfig
Due: azure-pipelines-api.yml

clarifies the location
  API/Controllers/ComplaintsController.cs
Due: azure-pipelines-api.yml

clarifies location
  API/Controllers/ReviewsController.cs
Due: azure-pipelines-api.yml

search function
  API/Controllers/SearchController.cs
  API/Models/Place.cs
  API/Models/PlaceQueryResponse.cs
  API/Models/SearchResponse.cs
Due: azure-pipelines-api.yml

Ordered complaints get request
  API/Controllers/ComplaintsController.cs
Due: azure-pipelines-api.yml

add location controller methods
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

edit search contoller
  API/Controllers/SearchController.cs
Due: azure-pipelines-api.yml

add http request methods
  API/Helper/HttpReq.cs
Due: azure-pipelines-api.yml

edit properties of place class
  API/Models/Place.cs
Due: azure-pipelines-api.yml

add placeIdQueryResponse class
  API/Models/PlaceIdQueryResponse.cs
Due: azure-pipelines-api.yml

add .vscode to ignore
  .gitignore
Due: none

change the name of the Result class to Results
  API/Models/PlaceQueryResponse.cs
Due: azure-pipelines-api.yml

refactor
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

Implimented Dictionaries to Complains Request
  API/Controllers/ComplaintsController.cs
  API/Models/SimpleComplaint.cs
Due: azure-pipelines-api.yml

- better lambda expressions - refactor createPlace code
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

- better lambda - refactor createPlace
  API/Controllers/SearchController.cs
Due: azure-pipelines-api.yml

remove unused package
  API/Helper/HttpReq.cs
Due: azure-pipelines-api.yml

change float to double
  API/Models/Place.cs
Due: azure-pipelines-api.yml

rename files
  API/Models/PlaceByIdAPIReponse.cs
  API/Models/PlaceByTextAPIReponse.cs
Due: azure-pipelines-api.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Due: none

changes:
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

remove searchController and add it to the locationContoller
  API/Controllers/SearchController.cs
Due: azure-pipelines-api.yml

separate the CreatePlace functions so the code isn't too long
  API/Helper/CreatePlace.cs
Due: azure-pipelines-api.yml

edit getPlaceByText to accomodates for nextPage
  API/Helper/HttpReq.cs
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: LocationAPI
  azure-pipelines-2.yml: any of: UserAPI
  azure-pipelines-api.yml: any of: API
  azure-pipelines-identity-server.yml: any of: IdentityServer
  azure-pipelines.yml: any of: IdentityServer
