Repository Meandmy10/DGHA-Backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-api.yml, azure-pipelines-identity-server.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-2.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines-identity-server.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Restore dependencies
    inputs:
      command: restore
      projects: $(projectPath)
      feedsToUse: select
  - task: DotNetCoreCLI@2
    displayName: Build project
    inputs:
      command: build
      projects: $(projectPath)
  ...

change the name SearchReponse and add constructor
  API/Models/SearchAPIResponse.cs
  API/Models/SearchResponse.cs
Due: azure-pipelines-api.yml

ignore lee's testing repo yml files
  .gitignore
Due: none

format the address
  API/Helper/CreatePlace.cs
Due: azure-pipelines-api.yml

add a temp locationReviews endpiont
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

Deleted azure-pipelines-1.yml
  azure-pipelines-1.yml
Due: none

Deleted azure-pipelines.yml
  azure-pipelines.yml
Due: none

change the number of reviews shown to 6
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

add numOfWrittenReviews as property to Place
  API/Controllers/LocationsController.cs
  API/Helper/CreatePlace.cs
  API/Models/Place.cs
Due: azure-pipelines-api.yml

change to Sum() instead of Count
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

- add async methods to getRecommendation - refactor getSearch
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

- merge setPlaceIdDetails and setPlaceTextDetails - removed unused methods
  API/Helper/CreatePlace.cs
Due: azure-pipelines-api.yml

renaming the Result and Results classes
  API/Helper/HttpReq.cs
  API/Models/PlaceByIdAPIReponse.cs
  API/Models/PlaceByTextAPIReponse.cs
Due: azure-pipelines-api.yml

documentation
  API/Controllers/LocationsController.cs
  API/Helper/CreatePlace.cs
Due: azure-pipelines-api.yml

add shortState and longState arrays
  API/Controllers/LocationsController.cs
Due: azure-pipelines-api.yml

Changed Get Complaints Responce again
  API/Controllers/ComplaintsController.cs
  API/Models/SimpleComplaint.cs
Due: azure-pipelines-api.yml

Fixed get complaints request
  API/Controllers/ComplaintsController.cs
Due: azure-pipelines-api.yml

Updated to meet code standards
  API/.editorconfig
  API/Controllers/BaseController.cs
  API/Controllers/ComplaintsController.cs
  API/Controllers/LocationsController.cs
  API/Controllers/ReviewsController.cs
  API/Helper/HttpReq.cs
  API/Models/BasicUser.cs
  API/Models/NewComplaint.cs
  API/Models/Place.cs
  API/Models/PlaceByIdAPIReponse.cs
  API/Models/PlaceByTextAPIReponse.cs
  API/Models/SearchAPIResponse.cs
Due: azure-pipelines-api.yml

Allow Offline access for clients
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Fixed Bug
  API/.editorconfig
  API/Controllers/LocationsController.cs
  API/Helper/HttpReq.cs
  API/Models/PlaceByIdAPIReponse.cs
  API/Models/SearchAPIResponse.cs
Due: azure-pipelines-api.yml

Clean up code
  API/Controllers/AccountsController.cs
  API/Controllers/AuthorizedController.cs
  API/Controllers/BaseController.cs
  API/Controllers/ComplaintsController.cs
  API/Controllers/LocationsController.cs
  API/Controllers/ReviewsController.cs
  API/Controllers/RolesController.cs
  API/Helper/HttpReq.cs
  API/Models/BasicUser.cs
  API/Models/NewComplaint.cs
  API/Models/NewReview.cs
  API/Models/NewUser.cs
  API/Models/Place.cs
  API/Models/PlaceByIdAPIReponse.cs
  API/Models/PlaceByTextAPIReponse.cs
  API/Models/PlaceReviews.cs
  API/Models/SearchAPIResponse.cs
  API/Models/SimpleComplaint.cs
  API/Program.cs
  API/Startup.cs
  IdentityServer/Config.cs
  IdentityServer/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines-identity-server.yml, azure-pipelines.yml

Added OfflineAccess Scope
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Resolved Complaints Endpoint to work with admin app
  API/Controllers/ComplaintsController.cs
Due: azure-pipelines-api.yml

Update Formatting of Identity Server
  IdentityServer/Quickstart/Account/AccountOptions.cs
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/Views/Home/Index.cshtml
  IdentityServer/wwwroot/favicon.ico
  IdentityServer/wwwroot/icon-.png
  IdentityServer/wwwroot/icon.jpg
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Added OpenId Scope to mobile client
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Added GetEmailsAccount Endpoint
  API/Controllers/AccountsController.cs
  API/Models/BasicUser.cs
Due: azure-pipelines-api.yml

Made all Refresh Token Settings Explicit
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Styling
  IdentityServer/Views/Account/Login.cshtml
  IdentityServer/Views/Grants/Index.cshtml
  IdentityServer/Views/Shared/_Layout.cshtml
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-grid.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-grid.css.map
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-grid.min.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-grid.min.css.map
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-reboot.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-reboot.css.map
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-reboot.min.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap-reboot.min.css.map
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap.css.map
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap.min.css
  IdentityServer/wwwroot/lib/bootstrap/css/bootstrap.min.css.map
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Update Access token lifetime to 30 days
  IdentityServer/Config.cs
Due: azure-pipelines-identity-server.yml, azure-pipelines.yml

Create README.md
  README.md
Due: none

fixed README.md formatting
  README.md
Due: none

Fixed README.md Typos
  README.md
Due: none

Prepared readme for archive
  README.md
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: LocationAPI
  azure-pipelines-2.yml: any of: UserAPI
  azure-pipelines-api.yml: any of: API
  azure-pipelines-identity-server.yml: any of: IdentityServer
  azure-pipelines.yml: any of: IdentityServer
