Repository Meandmy10/DGHA-Backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - LocationAPI/*

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  projectPath: 'LocationAPI/LocationAPI.csproj'

steps:
- task: DotNetCoreCLI@2
  displayName: 'Restore dependencies'
  inputs:
    command: 'restore'
    projects: '$(projectPath)'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    command: 'build'
    projects: '$(projectPath)'
    arguments: '--configuration $(BuildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: 'Publish project'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'LocationAPI'
    publishLocation: 'Container'

azure-pipelines.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - IdentityServer/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: 'IdentityServer/IdentityServer.csproj'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'IdentityServer/IdentityServer.csproj'
    arguments: '--configuration Release'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'IdentityServer'
    publishLocation: 'Container'

Update Identity Server Pipeline
  azure-pipelines.yml
Due: none

Update Location API Pipeline
  azure-pipelines-1.yml
Due: none

Set up CI for User API
  azure-pipelines-2.yml
Due: none

Updated Identity Server Pipeline build config to Debug
  azure-pipelines.yml
Due: none

Updated Location API Pipeline build config to Debug
  azure-pipelines-1.yml
Due: none

Updated User API Pipeline build config to Debug
  azure-pipelines-2.yml
Due: none

Removed Old Code
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Merged API's into a single API
  API/API.csproj
  API/Controllers/RegistrationController.cs
  API/Controllers/ReviewsController.cs
  API/Controllers/WeatherForecastController.cs
  API/EmailSender.cs
  API/Program.cs
  API/Properties/launchSettings.json
  API/Startup.cs
  API/WeatherForecast.cs
  API/appsettings.Development.json
  API/appsettings.json
  DGHA-Backend.sln
  LocationAPI/Controllers/WeatherForecastController.cs
  LocationAPI/Startup.cs
  LocationAPI/WeatherForecast.cs
  UserAPI/Program.cs
  UserAPI/Properties/launchSettings.json
  UserAPI/UserAPI.csproj
  UserAPI/appsettings.Development.json
  UserAPI/appsettings.json
  azure-pipelines-2.yml
Due: azure-pipelines-1.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Changed yml file names
  azure-pipelines-api.yml
  azure-pipelines-identity-server.yml
Due: none

Updated API to work when deployed
  API/Startup.cs
Due: none

Updated to let TestClient Work again
  API/Properties/launchSettings.json
  API/Startup.cs
  IdentityServer/Config.cs
  TestClient/Program.cs
Due: azure-pipelines.yml

Update Identity Server for Azure Pipelines
  azure-pipelines-identity-server.yml
Due: none

Updated Startup to Add Developer Credential in all builds
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Update Identity Server and set build to debug for Azure Pipelines
  azure-pipelines-identity-server.yml
Due: none

Added Tempkey
  .gitignore
  IdentityServer/IdentityServer.csproj
  IdentityServer/Startup.cs
  IdentityServer/tempkey.rsa
Due: azure-pipelines.yml

Rereverted AddDeveloperSigningCredential logic
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Update Identity Server Pipeline
  azure-pipelines-identity-server.yml
Due: none

Update API YML for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Fix API Pipeline
  azure-pipelines-api.yml
Due: none

pls fix pipeline
  azure-pipelines-api.yml
Due: none

Update Identity Server pipeline to deploy as Release
  azure-pipelines-identity-server.yml
Due: none

Updated to use Azure Certificate
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Testing Certificate Password
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Reverted Credential Changes
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Revert "Removed Old Code"
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Fixed namespace on migrations
  ModelsLibrary/Data/Migrations/20191013104613_InitialCreate.Designer.cs
  ModelsLibrary/Data/Migrations/20191013104613_InitialCreate.cs
Due: none

Added Endpoints
  API/API.csproj
  API/Controllers/LocationController.cs
  API/Controllers/RegistrationController.cs
  API/Controllers/ReviewsController.cs
  API/Controllers/WeatherForecastController.cs
  API/WeatherForecast.cs
Due: none

Added Endpoints
  API/.editorconfig
  API/Controllers/AccountController.cs
  API/Controllers/LocationController.cs
  API/Controllers/RegistrationController.cs
Due: none

Added Documentation & fixed some bugs
  API/API.csproj
  API/Controllers/AccountController.cs
  API/Controllers/AccountsController.cs
  API/Controllers/LocationController.cs
  API/Controllers/LocationsController.cs
  API/Controllers/ReviewsController.cs
  API/EmailSender.cs
  API/Models/NewUser.cs
  API/Program.cs
  API/Startup.cs
  ModelsLibrary/Data/Migrations/20191024105807_AddCommentToReview.Designer.cs
  ModelsLibrary/Data/Migrations/20191024105807_AddCommentToReview.cs
  ModelsLibrary/Location.cs
Due: none

Added Authentication
  API/API.csproj
  API/Controllers/AccountsController.cs
  API/Controllers/ReviewsController.cs
  API/Controllers/RolesController.cs
  API/Startup.cs
  IdentityServer/Config.cs
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Fix Cors Functionality
  API/Startup.cs
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Improved Models used by API
  API/Controllers/AccountsController.cs
  API/Controllers/ReviewsController.cs
  API/Models/BasicUser.cs
  API/Models/PlaceReviews.cs
Due: none

fix bug
  IdentityServer/Startup.cs
Due: azure-pipelines.yml

Add Complaints
  API/Controllers/ComplaintsController.cs
  API/Models/NewComplaint.cs
  ModelsLibrary/Complaint.cs
  ModelsLibrary/Data/ApplicationDbContext.cs
  ModelsLibrary/Data/Migrations/20191029062618_AddComplaintModel.Designer.cs
  ModelsLibrary/Data/Migrations/20191029062618_AddComplaintModel.cs
  ModelsLibrary/Data/Migrations/20191029073146_AddStatusDefaultValue.Designer.cs
  ModelsLibrary/Data/Migrations/20191029073146_AddStatusDefaultValue.cs
  ModelsLibrary/Location.cs
  ModelsLibrary/Review.cs
  ModelsLibrary/User.cs
Due: none

Cleaned up controllers
  API/Controllers/AccountsController.cs
  API/Controllers/LocationsController.cs
  API/Controllers/ReviewsController.cs
  API/Controllers/RolesController.cs
  API/Models/NewReview.cs
Due: none

Bug Fixes
  API/Controllers/ComplaintsController.cs
  API/Controllers/ReviewsController.cs
  API/Models/NewComplaint.cs
Due: none

Return 200 rather then 201
  API/Controllers/ReviewsController.cs
Due: none
